#### Introduction To Lists:

Lists are ordered, mutable collections of items.
They can contain items of different data types.

Introduction to Lists
1) Creating Lists
2) Accessing List Elements
3) Modifying List Elements
4) List Methods
5) Slicing Lists
6) Iterating Over Lists
7) List Comprehensions
8) Nested Lists
9) Practical Examples and Common Errors

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["Krish","Jack","Jacob",1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [3]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [4]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [5]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [6]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [7]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [8]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [9]:
fruits[1:]="watermelon"

In [10]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [11]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [12]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [13]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [14]:
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [15]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [16]:
index=fruits.index("cherry")
print(index)

2

In [17]:

fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [18]:

fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [19]:

fruits.sort() ## SSorts the list in ascending order

In [20]:

fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [21]:

fruits.reverse() ## REverse the list

In [22]:

fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [23]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [24]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:

numbers[::3]

[1, 4, 7, 10]

In [26]:

numbers[::-2]

[10, 8, 6, 4, 2]

In [27]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [28]:

## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [29]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:

[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension:

Basics Syantax [expression for item in iterable]

with conditional logic [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [31]:
### Basic List Comphrension

sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [33]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [34]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [35]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

### Conclusion:

List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.

### Tuples:

Introduction to Tuples
Creating Tuples
Accessing Tuple Elements
Tuple Operations
Immutable Nature of Tuples
Tuple Methods
Packing and Unpacking Tuples
Nested Tuples
Practical Examples and Common Errors
Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [36]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [37]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [38]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [39]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [40]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [41]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [42]:
print(numbers[2])
print(numbers[-1])

3
6

In [43]:
numbers[0:4]

(1, 2, 3, 4)

In [44]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [45]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [46]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [47]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [48]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [49]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [50]:
numbers

(1, 2, 3, 4, 5, 6)

In [51]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [52]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [53]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [54]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [55]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [56]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [57]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [58]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

### Conclusion:

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

### Sets:

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [59]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [60]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [61]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [62]:
my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [63]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [64]:
## Remove the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [65]:
my_set.remove(10)

KeyError: 10

In [66]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [67]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [68]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [69]:
## Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [70]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [71]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 
print(set1.difference(set2))

{1, 2, 3}

In [72]:

set1

{1, 2, 3, 4, 5, 6}

In [73]:
set2.difference(set1)

{7, 8, 9}

In [74]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [75]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [76]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [77]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()

## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'this', 'discussing', 'In', 'tutorial', 'we', 'about', 'are'}
8

### Conclusion:

Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.

### Dictionaries:

Introduction to Dictionaries
Creating Dictionaries
Accessing Dictionary Elements
Modifying Dictionary Elements
Dictionary Methods
Iterating Over Dictionaries
Nested Dictionaries
Dictionary Comprehensions
Practical Examples and Common Errors

Introduction to Dictionaries
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [78]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [79]:
empty_dict=dict()
empty_dict

{}

In [80]:
student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [81]:
# Single key is slways used
student={"name":"Krish","age":32,"name":24}
print(student)

{'name': 24, 'age': 32}

In [82]:
## accessing Dictionary Elements
student={"name":"Krish","age":32,"grade":'A'}
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [83]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
32
A
None
Not Available

In [84]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Krish', 'age': 32, 'grade': 'A'}

In [85]:
student["age"]=33  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Krish', 'age': 33, 'grade': 'A'}
{'name': 'Krish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [86]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [87]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [88]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [89]:
student["name"]="Krish2"
print(student)
print(student_copy)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [90]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [91]:
student["name"]="KRish3"
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'KRish3', 'age': 33, 'address': 'India'}

In [92]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [93]:
## Iterate over values
for value in student.values():
    print(value)

KRish3
33
India

In [94]:

## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:KRish3
age:33
address:India

In [95]:
## Nested Disctionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [96]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [97]:

students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [98]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [99]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [100]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [101]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [102]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

### Conclusion:

Dictionaries are powerful tools in Python for managing key-value pairs. They are used in a variety of real-world scenarios, such as counting word frequency, grouping data, storing configuration settings, managing phonebooks, tracking inventory, and caching results. Understanding how to leverage dictionaries effectively can greatly enhance the efficiency and readability of your code.

### Manage A To Do List

Create a To Do List To Keep Track OF Tasks

In [103]:
to_do_list=["Buy Groceries","Clean the house","Pay bills"]

## Adding to task
to_do_list.append("Schedule meeting")
to_do_list.append("Go For a Run")

## Removing a completed task
to_do_list.remove("Clean the house")

## checking if a task is in the list
if "Pay bills" in to_do_list:
    print("Don't forgrt to pay the utility bills")

print("To Do List remaining")
for task in to_do_list:
    print(f"-{task}")

Don't forgrt to pay the utility bills
To Do List remaining
-Buy Groceries
-Pay bills
-Schedule meeting
-Go For a Run

### Organizing Student Grades

Create a list to store and calculate average grades for students

In [104]:
# Organizing student grades
grades = [85, 92, 78, 90, 88]

# Adding a new grade
grades.append(95)

# Calculating the average grade
average_grade = sum(grades) / len(grades)
print(f"Average Grade: {average_grade:.2f}")

# Finding the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest Grade: {highest_grade}")
print(f"Lowest Grade: {lowest_grade}")

Average Grade: 88.00
Highest Grade: 95
Lowest Grade: 78

### Managing An Inventory:

Use a list to manage inventory items in a store

In [105]:
# Managing an inventory
inventory = ["apples", "bananas", "oranges", "grapes"]

# Adding a new item
inventory.append("strawberries")

# Removing an item that is out of stock
inventory.remove("bananas")

# Checking if an item is in stock
item = "oranges"
if item in inventory:
    print(f"{item} are in stock.")
else:
    print(f"{item} are out of stock.")

# Printing the inventory
print("Inventory List:")
for item in inventory:
    print(f"- {item}")

oranges are in stock.
Inventory List:
- apples
- oranges
- grapes
- strawberries

### Collecting User Feedback:

Use a list to collect and analyze user feedback.

In [106]:
# Collecting user feedback
feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

# Adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Printing all feedback
print("User Feedback:")
for comment in feedback:
    print(f"- {comment}")

Positive Feedback Count: 2
User Feedback:
- Great service!
- Very satisfied
- Could be better
- Excellent experience
- Not happy with the service